body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
}

@media(min-width: 768px) {
    
    .header {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

}

.logo {
    margin-right: 10px;
}

.button-login,
.button-anuncie {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    padding: 10px 32px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

@media(min-width: 768px) {
    .button-login,
    .button-anuncie {
        margin: 5px;
    }
}

.button-login-icon {
    fill: #fff;
    width: 20px;
    margin-right: 5px;
}

.button-login {
    background-color: #002c5a;
    margin-bottom: 5px;
}

.button-anuncie {
    background-color: #dbb100;
    color: #002c5a;
}

@media(min-width: 768px) {
   
    .button-login {
        transition: background-color .3s ease-in-out;
    }

    .button-anuncie:hover {
        background-color: #efc400;
        transition: background-color .3s ease-in-out;
    }

    .button-login:hover {
        background-color:#003771;
    }
    
}

.button-anuncie-icon {
    fill: #002c5a;
    width: 30px;
    margin-right: 5px;
}

